{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Dennis Ivanov</title>
    <link
      href="{% static '/css/main.css'  %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <br />
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="card card-body h-100 border-info" id="profile-wrapper">
            <img id="profile-pic" src="{% static 'images/profile.png' %}" />
            <hr />
            <h4>Hi I'm Swamfire!</h4>
            <p>I love coding, doing research and collaborating</p>
          </div>
        </div>

        <div class="col-md-9">
          <div class="card card-body h-100 border-info">
            <h4>My First Job as a Developer</h4>
            <hr />
            <p>
              Lorem ipsum odor amet, consectetuer adipiscing elit. Vehicula hac
              in urna ultrices bibendum maecenas consectetur molestie. Mollis
              dui tellus in auctor nullam inceptos ex. Morbi penatibus mus nam
              blandit aliquam ultricies. Lobortis sit auctor viverra ad platea
              quis. Aliquet hendrerit erat nullam semper; aliquet curabitur.
              Praesent est elementum conubia vel conubia proin metus interdum.
              Eget lobortis duis porttitor dapibus aptent pretium
            </p>

            <p>
              Ipsum nisl urna fringilla mi maecenas elit purus porttitor.
              Feugiat donec dolor auctor efficitur odio dignissim neque pulvinar
              convallis. Eget pulvinar duis; dis fringilla commodo condimentum.
              Ligula mattis nascetur vestibulum pulvinar consectetur quam
              viverra. Est non vivamus ex adipiscing eget vehicula. Habitant
              class suscipit dictumst auctor parturient vivamus nullam. Odio
              hendrerit curabitur sit cursus, et libero fusce etiam. Hendrerit
              cras nisi metus himenaeos nullam taciti consectetur. Imperdiet
              purus enim velit mus eros ligula non dis.
            </p>

            <ul class="social-links">
              <li>
                <img class="social" src="{% static 'images/facebook.png' %}" />
              </li>
              <li>
                <img class="social" src="{% static 'images/linkedin.png' %}" />
              </li>
              <li>
                <img class="social" src="{% static 'images/twitter.png' %}" />
              </li>
              <li>
                <img class="social" src="{% static 'images/youtube.png' %}" />
              </li>
            </ul>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-6">
          <div class="card card-body h-100">
            <h5>My Experience as a Developer</h5>
            <hr />
            <p>Full stack developer at FOI laboratories.</p>
            <p>
              Ipsum nisl urna fringilla mi maecenas elit purus porttitor.
              Feugiat donec dolor auctor efficitur odio dignissim neque pulvinar
              convallis. Eget pulvinar duis; dis fringilla commodo condimentum.
              Ligula mattis nascetur vestibulum pulvinar consectetur quam
              viverra. Est non vivamus ex adipiscing eget vehicula. Habitant
              class suscipit dictumst auctor parturient vivamus nullam. Odio
              hendrerit curabitur sit cursus, et libero fusce etiam. Hendrerit
              cras nisi metus himenaeos nullam taciti consectetur. Imperdiet
              purus enim velit mus eros ligula non dis.
            </p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card card-body h-100">
            <h5>What I Know</h5>
            <hr />
            <p>
              Python, Django, HTML/CSS, JavaScript/Jquery, React, Postgres, AWS
              and APIs such as google maps, JavaScript charts and a whole bunch
              more I can’t possibly mention in one sentence! ;)
            </p>
            <p>PS: Working on Node JS, Mongo DB and Machine Learning.</p>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-6">
          <div class="card card-body h-100">
            <h5>How I Learn</h5>
            <hr />
            <p>Reverse Engineer & Build Ugly Prototypes First.</p>

            <p>
              Ipsum nisl urna fringilla mi maecenas elit purus porttitor.
              Feugiat donec dolor auctor efficitur odio dignissim neque pulvinar
              convallis. Eget pulvinar duis; dis fringilla commodo condimentum.
              Ligula mattis nascetur vestibulum pulvinar consectetur quam
              viverra. Est non vivamus ex adipiscing eget vehicula. Habitant
              class suscipit dictumst auctor parturient vivamus nullam. Odio
              hendrerit curabitur sit cursus, et libero fusce etiam. Hendrerit
              cras nisi metus himenaeos nullam taciti consectetur. Imperdiet
              purus enim velit mus eros ligula non dis.
            </p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card card-body h-100">
            <h5>My Short Term Goals</h5>
            <hr />
            <p>
              Ipsum nisl urna fringilla mi maecenas elit purus porttitor.
              Feugiat donec dolor auctor efficitur odio dignissim neque pulvinar
              convallis. Eget pulvinar duis; dis fringilla commodo condimentum.
              Ligula mattis nascetur vestibulum pulvinar consectetur quam
              viverra. Est non vivamus ex adipiscing eget vehicula. Habitant
              class suscipit dictumst auctor parturient vivamus nullam. Odio
              hendrerit curabitur sit cursus, et libero fusce etiam. Hendrerit
              cras nisi metus himenaeos nullam taciti consectetur. Imperdiet
              purus enim velit mus eros ligula non dis.
            </p>
          </div>
        </div>
      </div>
      <br />
    </div>
  </body>
</html>
